body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration-line: none;
  color: inherit;
}

.hero {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #3d3e3e;
}
nav {
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #edecec;
  font-weight: bold;
}
nav ul li a:hover {
  color: red;
}
.detel {
  margin-left: 8%;
  margin-top: 5%;
}
.detel h1 {
  font-size: 50px;
  color: #f6eeee;
  margin-bottom: 20px;
}
span {
  color: orange;
}
.detel p {
  color: #f6eeee;
  line-height: 22px;
}

/* .image{
    width: 45%;;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}
.images{
    height:100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform:translateX(-50%);
    transition: bottom 1s,left 1s;

}

.images:hover.boy{
    left:45%;
} */

.images {
  text-align: center;
}

.images i {
  color: #0a66c2;
  font-size: 32px;
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.profile-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
}
b {
  color: black;
  font-size: 43;
}

.myform {
  margin-left: 8%;
  margin-top: 3%;
  max-width: 300px;
  padding-bottom: 1rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-bottom: 1rem;
}

.input-group input,
.input-group textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.input-group textarea {
  resize: none;
}
label {
  color: black;
  font: bold;
}
